.RobotMessage {
  height: 100%;
  margin-left: 10vh;
  top: 50%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}
.bubble {
  position: relative;
  background: #f0f0f0;
  padding: 20px;
  color: #222;
  border-radius: 5px;
}
.bubble:after {
  content: "";
  display: block;
  position: absolute;

  left: -15px;
  top: 60%;

  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #f0f0f0;
}

.RobotIcon {
  position: relative;
  margin-top:auto;
  float: left;
  height: 10vh;
  width: 10vh;
}
.RobotWrapper {
  padding: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 50vw;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(134, 134, 134, 0.2);
  backdrop-filter: blur(2px);
}
.StickyBottomLeft {
  position: fixed;
  left: 2vw;
  bottom: 5vh;
}
