.RobotWrapper {
  width: 400px;
}
.RobotWrapper .RobotMessage {
  width: 100%;
  margin-bottom: 20px;
}
.RobotWrapper .RobotMessage p {
  margin: 0 0 10px 0;
}
.bubble {
  position: relative;
  background: #f0f0f0;
  padding: 20px;
  color: #222;
  border-radius: 5px;
  margin-left: 20px;
}
.bubble:after {
  content:"";
  display:block;
  position: absolute;
  
  left:-15px;
  top:15px;

  width:0;
  height:0;
  border-top:8px solid transparent;
  border-bottom:8px solid transparent;
  border-right:15px solid #f0f0f0;
}

.RobotIcon {
  width:20%;
}
