.RobotMessage {
  margin-left: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 70%;
}
.bubble {
  position: relative;
  background: #f0f0f0;
  padding: 20px;
  color: #222;
  border-radius: 5px;
  margin-left: 20px;
}
.bubble:after {
  content: "";
  display: block;
  position: absolute;

  left: -15px;
  top: 60px;

  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #f0f0f0;
}

.RobotIcon {
  max-width: 30%;
}

.RobotMessage,
.RobotIcon {
  float: left;
}
.RobotWrapper,.RobotIcon{
  height: 10vh;
}