body {
  background-color: #bccce3;
}
.App {
  text-align: center;
  background-color: #c8d5e7;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  border: 1px solid gray;
}

.MyPlot {
  overflow-y: visible;
}
.MyPlot,
.TableWrapper {
  max-height: 90vh;
  overflow: auto;
  border: 1px solid black;
  padding: 10px;
}
.Table {
  padding: 10px;
  margin: 10px;
}

.highlighted {
  outline: 4pt;
  outline-style: double;
  outline-color: gold;
}
.Centred {
  margin: auto;
}
.GameTitle {
  margin: 20px;
  padding: 20px;
}
.AttributeSelection {
  border-radius: 5px;
}
.AttribSelect {
  backdrop-filter: blur(2px);
  background-color: rgba(215, 209, 209, 0.2);
  box-shadow: 0 2px 5px rgba(184, 178, 178, 0.2);
  border-radius: 5px;
}
